<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.yuoj.mapper.CompetitionQuestionMapper">
  <resultMap id="BaseResultMap" type="com.yupi.yuoj.model.entity.CompetitionQuestion">
    <!--@mbg.generated-->
    <!--@Table competition_question-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="question_id" jdbcType="BIGINT" property="questionId" />
    <result column="competition_id" jdbcType="BIGINT" property="competitionId" />
    <result column="isDelete" jdbcType="TINYINT" property="isdelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, question_id, competition_id, isDelete
  </sql>
</mapper>